@model Neon.Web.Models.AccountModels.SignupModel
@{
    ViewData["Title"] = "Signup";
}

<div class="container">
    <div class="row mb-5">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form asp-controller="Account" asp-action="Signup" method="post" asp-antiforgery="true">
                        <h2>Create a new account.</h2>
                        <hr />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" class="form-control" autocomplete="new-password" aria-required="true" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword"></label>
                            <input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="py-3">
                            <button type="submit" class="w-100 btn btn-lg btn-primary">Sign Up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

